.side-bar
 .header
  .haeder__name
   ユーザーネーム
  .header__lists
   .list
   .list 
 .groups
  .group
   .group__name
    グループ名
   .group__message
    メッセージ   
  .group
   .group__name
    グループ名
   .group__message
    メッセージ
.chat
 .header
  .left-header
   .left-header__title
    グループ名  
   .left-header__members
   Member:name
  .right-header
   .right-header__button
    Edit 
 .messages
  .message
   .up-message
    .message__username
     名前
    .message__date
     日にち
   .low-message
    .message__content  
     メッセージ
  .message
   .up-message
    .message__username
     名前
    .message__date
     日にち
   .low-message
    .message__content  
     メッセージ
  .message
   .up-message
    .message__username
     名前
    .message__date
     日にち
   .low-message
    .message__content  
     メッセージ
 .form
  .fomr__message              